@charset "UTF-8";

/* *,
*:before,
*:after {
-webkit-box-sizing: border-box;
box-sizing: border-box;
} */

/*
  @名称: reset
  @功能: 重设浏览器默认样式
*/

/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  padding: 0;
  margin: 0;
}

/***  */
a:link,
a:visited {
  text-decoration: none;
}

a {
  outline: none;
}

/* 默认不显示下划线，保持页面简洁 */
ins,
a {
  text-decoration: none;
}

html {
  // font-size: 10px; // Firefox on Mac default font-size is 15px
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
